@import "../../general.scss";

.formContainer {
  width: 50%;
  background-color: #e4e1e3;
  padding: 3rem 2rem;
  margin: 4rem auto;
  font-size: 1.8rem;
  border-radius: 2rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
    align-items: center;
  }
  div {
    width: 80%;
    text-align: center;
    textarea {
      resize: none;
      width: 100%;
      padding: 1rem 0.7rem;
      border-radius: 0.5rem;
      outline: none;
      font-size: $main-fontSize;
      border: 0.1rem solid #d5c3c3;

      &:focus {
        border: 0.2rem solid #8989dc;
      }
    }
    button {
      width: 60%;
      padding: 0.7rem;
      margin-top: 1rem;
      font-size: $main-fontSize;
      color: white;
      font-weight: bold;
      background-color: $primary-bgColor;
      transition: all 0.3s;
      &:hover {
        background-color: $primary-bgHoverColor;
      }
    }
  }
  input[type="file"] {
    width: 100%;
    background-color: #c6c6d8;
    padding: 1.3rem 0.7rem;
    color: white;
    margin-top: 2rem;
  }
  legend {
    font-size: 4rem;
    color: #8989dc;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}
.successMessage {
  font-size: $main-fontSize;
  display: flex;
  justify-content: center;
  gap: 1rem;
  .success {
    color: rgb(18, 129, 18);
  }
  .error {
    color: rgb(90, 11, 11);
  }
  a {
    color: $primary-bgColor;
    font-weight: bold;
    font-size: $main-fontSize;
  }
}
