.button {
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  border: 0.2rem solid rgb(163, 163, 212);
  border-radius: 0.5rem;
  transition: all 0.2s;
  font-size: 1.7rem;
}

.button:hover {
  background-color: rgb(215, 216, 216);
  color: white;
}
