.main {
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem;
}

.boards-container {
  width: 100%;
  gap: 5rem;
  justify-content: center;
}

.dflex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.heading {
  color: #6c5c57;
}
