.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 5rem;
}

.pagination li {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.8rem #4d250d;
  border-radius: 50%;
  transition: all 0.5s;
}

.pagination li:hover {
  background-color: #ca7b36;
  box-shadow: 0 0 1.5rem #e67e22;
}

.pagination li:hover .white {
  color: #fff;
}

.pagination li span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #6c4141;
}

.pagination .currentPage {
  color: white;
  background-color: #ca7b36;
}

.pagination .currentPage span {
  color: white;
}
