@import "../../general.scss";

.signUpContainer {
  width: 50%;
  padding: 4rem;
  margin: 0 auto 5rem auto;
  box-shadow: 0 0 1.3rem #514949;
  border-radius: $main-borderRadius;
  background-color: $modal-bgColor;
}

.formContainer {
  margin-top: 2rem;
  input,
  button {
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    border-radius: 1rem;
  }

  button {
    width: 50%;
    background-color: $primary-bgColor;
    color: white;
    &:hover {
      background-color: $primary-bgHoverColor;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  div {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  input {
    width: 100%;
    background-color: #f5f6f7;
    border: 0.1rem solid #d5c3c3;
    &:focus {
      outline: none;
      border: 0.2rem solid $primary-bgColor;
    }
  }
  a {
    color: $primary-bgColor;
    font-weight: bold;
  }
}

.signUpContainer {
  h1 {
    font-size: 4rem;
    color: $primary-textColor;
  }
  h1,
  p {
    margin: 1.2rem 0;
  }
}

.logo {
  margin: 0;
  padding: 0 2rem;
  img {
    cursor: pointer;
    width: 10rem;
  }
}

.nameContainer {
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  input {
    width: 48%;
  }
}
