$primary-bgColor: #ed953f;
$primary-bgHoverColor: #ca7b36;
$primary-boxShadow: #e67e22;
$primary-textColor: #333;
$primary-textHoverColor: #222;
$header-bgColor: #fdf2e9;
$backdrop-Color: rgb(2 2 1 / 91%);
$board-boxShadow: #4d250d;
$board-bgColor: rgb(252 236 236);
$modal-bgColor: rgb(242, 237, 237);
$heading-color: #6c5c57;
$red-color: #471818;
$main-fontSize: 1.7rem;
$main-borderRadius: 2rem;
