@import "../../general.scss";
.boardsSection {
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem 3rem;
}

.boardsContainer {
  width: 100%;
  gap: 5rem;
  justify-content: center;
  padding: 2rem 0;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 45%;
  padding: 1.5rem;
  box-shadow: 0.2rem 0.3rem 1rem 0.2rem $board-boxShadow;
  background-color: $board-bgColor;
  border-radius: 2rem;
}

.dflex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.heading {
  color: $heading-color;
  text-align: center;
}
