@import "../../general.scss";

.comment {
  display: flex;
  gap: 1rem;
  background-color: #fafdfabd;
  padding: 0.8rem;
}

.rate {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #320808;
  margin-left: auto;
  img {
    width: 2rem;
    height: 2rem;
  }
}

.avatar {
  width: 3rem;
}

.deleteBtn {
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0 1.5rem #f7ad23;
    border-radius: 40%;
  }
}

.replyComment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  textarea {
    width: 90%;
    height: 2rem;
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: $main-borderRadius;
    resize: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 1rem #dfded8;
    transition: border-color 0.2s;
    font-size: $main-fontSize;
    margin: 1rem 0 2rem 1.5rem;
  }
}

.actionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem 0 2rem 0;
  button {
    font-size: 1.5rem;
    color: $primary-textColor;
    padding: 0.5rem;
  }
  span {
    font-size: $main-fontSize;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: $primary-textColor;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 2.4rem;
  }
}
