@import "../../general.scss";
.buttonCont {
  justify-content: space-between;
}

.dFlex {
  display: flex;
}

.gap {
  gap: 2.7rem;
}

.clear,
.addBtn {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.clear:hover,
.addBtn:hover {
  box-shadow: 0 0 1.5rem $primary-boxShadow;
  border-radius: 50%;
}

.disabled {
  opacity: 0.5;
  width: 4rem;
  height: 4rem;
}
