@import "../../general.scss";

.select {
  cursor: pointer;
  padding: 0.7rem 2rem;
  border: 0.3rem solid $red-color;
  border-radius: $main-borderRadius;
  transition: all 0.2s;
  color: #fff;
  font-size: $main-fontSize;
  font-weight: bold;
  background-color: $primary-bgColor;
  &:hover {
    background-color: #ca7b36;
    box-shadow: 0 0 1.5rem $primary-boxShadow;
  }
}
