body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#container {
  padding: 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#container div {
  width: 60%;
  display: flex;
  justify-content: center;
}

#container .input-cont {
  flex-direction: column;
  align-items: center;
}

#container input {
  width: 250px;
  border: 2px solid rgb(42, 37, 37);
  border-radius: 8px;
  padding: 5px 7px;
}

#container .triangles-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

#rotate-btn {
  padding: 6px 10px;
  font-size: 20px;
  width: 180px;
  background-color: rgb(87, 80, 80);
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(244, 233, 233);
  cursor: pointer;
  visibility: hidden;
  transition: all 0.2s;
}

#rotate-btn:hover {
  background-color: rgb(111, 104, 104);
}

#container pre {
  font-size: 20px;
  font-weight: bold;
}

#validation {
  color: rgb(222, 59, 59);
  font-size: 16px;
  text-shadow: 1px 1px rgb(193, 151, 151);
}
