.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fdf2e9;
}

.header div {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header input {
  border: 0.3rem solid #4d250d;
  border-radius: 2rem;
  padding: 1rem;
  width: 30rem;
  outline: none;
  font-size: 1.7rem;
}

.favicon {
  cursor: pointer;
}

.favicon img {
  width: 10rem;
}

.search {
  position: absolute;
  right: 50%;
}
