@import "../../general.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-bgColor;
}

.header div {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header select {
  padding: 0.5rem;
  width: 16rem;
}

.header input {
  border: 0.3rem solid #4d250d;
  border-radius: 2rem;
  padding: 1rem;
  width: 30rem;
  outline: none;
  font-size: 1.7rem;
}

.favicon {
  cursor: pointer;
}

.favicon img {
  width: 10rem;
}

.search {
  position: absolute;
  right: 50%;
}

.authContainer button {
  width: 13rem;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  background-color: $primary-bgColor;
  font-weight: bold;
}

.authContainer button:hover {
  background-color: $primary-bgHoverColor;
  box-shadow: 0 0 1.5rem $primary-boxShadow;
}
