@import "../general.scss";

.board {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem 1.5rem;
  box-shadow: 0.2rem 0.3rem 1rem 0.2rem $board-boxShadow;
  background-color: $board-bgColor;
  border-radius: 2rem;

  a {
    text-decoration: none;
  }
}

.disabled {
  opacity: 0.4;
}
