@import "../../general.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-bgColor;
  z-index: 5;
  margin-bottom: 14rem;

  select {
    padding: 0.5rem;
    width: 16rem;
  }
  input {
    border: 0.3rem solid $red-color;
    border-radius: $main-borderRadius;
    padding: 1rem;
    width: 30rem;
    outline: none;
    font-size: $main-fontSize;
  }
}

.header > div {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.favicon {
  cursor: pointer;
  img {
    width: 10rem;
  }
}

.search {
  position: absolute;
  right: 6%;
  top: 21%;
}

.authContainer {
  button {
    width: 13rem;
    font-size: 1.4rem;
    border-radius: 1.5rem;
    background-color: $primary-bgColor;
    font-weight: bold;
  }
  button:hover {
    background-color: $primary-bgHoverColor;
    box-shadow: 0 0 1.5rem $primary-boxShadow;
  }
  .signupBtn {
    color: $primary-bgColor;
    background-color: white;
    &:hover {
      color: white;
    }
  }
}

.searchDiv {
  position: relative;
}
