@import "../../general.scss";

.commentsContainer {
  width: 98%;
}

.commentBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  img {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 0 1.5rem $primary-boxShadow;
      border-radius: 50%;
    }
  }
}

.commentsText {
  display: inline-block;
  padding: 0.8rem;
  background-color: #fcb753;
  border-radius: 1rem;
  cursor: pointer;
  font-size: $main-fontSize;
  color: $red-color;
  transition: all 0.4s;
  &:hover {
    background-color: #ca7b36;
  }
}
