@import "../../general.scss";
.singlePost {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  margin-top: 2rem;
  border-radius: 1.5rem;
  padding: 3rem;
  box-shadow: 1rem 0.5rem 3rem 0rem #ddbfa6;
}

.commentBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 4rem 0;
  img {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 0 1.5rem $primary-boxShadow;
      border-radius: 50%;
    }
  }
}

.commentsText {
  display: inline-block;
  padding: 0.8rem;
  background-color: #fcb753;
  border-radius: 1rem;
  cursor: pointer;
  font-size: $main-fontSize;
  color: $red-color;
  transition: all 0.4s;
  &:hover {
    background-color: #ca7b36;
  }
}

.title {
  font-size: 3.5rem;
  color: $red-color;
  margin: 0;
}

.description {
  width: 78%;
  line-height: 1.3;
  color: #333;
  padding: 0.8rem;
  font-size: 1.7rem;
  font-style: italic;
}

.postImage {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
  }
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    font-size: 1.7rem;
    color: #333;
    &:hover {
      text-decoration: underline;
    }
  }
}

.commentLikeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  button {
    font-size: $main-fontSize;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $red-color;
  }
}
