@import "../../general.scss";

.modal {
  width: 60%;
  position: fixed;
  top: 15vh;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  background-color: $modal-bgColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 3rem 1rem;
  height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;

  textarea {
    width: 90%;
    height: 2rem;
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: $main-borderRadius;
    resize: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 1rem #dfded8;
    transition: border-color 0.2s;
    font-size: $main-fontSize;
  }
}

.modal > button {
  position: absolute;
  top: 5%;
  right: -11px;
}

.replies {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
  li {
    background-color: rgba(250, 253, 250, 0.7411764706);
    padding: 0.8rem;
    width: 94%;
    margin-top: 1rem;
  }
}

.textBox {
  position: relative;
  text-align: center;
  img {
    position: absolute;
    top: 25%;
    right: 9%;
  }
}

.repliesCont {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h1 {
    text-align: center;
    font-size: $main-fontSize;
    width: 94%;
    margin: 0 auto;
    color: $red-color;
    border-radius: 1rem;
    padding: 0.4rem;
    box-shadow: 0 0 1.2rem $red-color;
  }
}
