.comment {
  display: flex;
  gap: 1rem;
  background-color: #fafdfabd;
  padding: 0.8rem;
}

.rate {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #320808;
  margin-left: auto;
}

.rate img {
  width: 2rem;
  height: 2rem;
}

.avatar {
  width: 3rem;
}

.deleteBtn {
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  box-shadow: 0 0 1.5rem #f7ad23;
  border-radius: 40%;
}
